* {
  font-family: 'Jura', sans-serif;
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  background: linear-gradient(
    135deg,
    #5a005a 0%,
    #3b0050 40%,
    #1a0033 100%
  );
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.hbox {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.vbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ---------------------------Navbar--------------------------- */

.navbar {
  background: #11111139;
  color: white;
  padding: 0 1rem;
  position: relative;
  height: 60px;
  display: flex;
}

.nav-container {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  background: none;
  border-radius: 20px;
  padding: 0;
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  padding: 0.5rem 1rem;
}

.navbar ul li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* ---------------------------Homepage--------------------------- */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.home .banner {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 20px 0;
}

.home .cimek {
  text-align: left;
  width: 100%;
}

.highlight .cards-container {
  display: flex;
  flex-wrap: wrap;
}

.highlight .cards {
  width: 384px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 400px;
}

.highlight .cards .image {
  width: 384px;
  height: 256px;
  object-fit: cover;
  border-radius: 5px;
}

.highlight .cards-content {
  text-align: left;
  padding: 0 3px;
}

.highlight .cards h4 {
  font-size: 18px;
  margin-top: 10px;
}

.highlight .cards p {
  color: rgb(171, 171, 171);
  margin: 0;
}

/* ---------------------------PC BUILDEK--------------------------- */
.pck {
  margin: 5px 0;
}

.pck .cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 400px;
}

.pck .cards {
  width: 512px;
  height: 256px;
}

.pck .cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.pck .cards-content {
  text-align: left;
  padding: 0 3px;
}

.pck .cards h4 {
  font-size: 18px;
  margin-top: 10px;
}

.pck .cards p {
  color: rgb(171, 171, 171);
  margin: 0;
}

/* ----------------------------ABOUT-------------------------- */
.about {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.about-content {
  width: 600px;
  text-align: left;
}

.about-text h4 {
  font-size: 18px;
  margin-top: 50px;
}

.about-text p {
  color: rgb(171, 171, 171);
  margin: 0;
}

.about .image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}

/* ----------------------------REWIEWS---------------------------- */
.rewiews .cards {
  width: 300px;
  height: 150px;
  padding: 00px;
  background: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

.rewiews .comment {
  color: black !important;
  font-size: 18px;
}

/* ----------------------------FOOTER---------------------------- */
.footer {
  width: 100vw;
  padding: 20px 0px;
  border-top: 1px solid rgba(255,255,255,0.2);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  width: 90%;
  margin: 0px auto;
}

.footer .links {
  display: flex;
  gap: 60px;
}

.footer .links h4 {
  margin-bottom: 10px;
}

.footer .links p {
  margin: 5px 0px;
  opacity: .7;
}

.footer .socials span {
  margin: 0px 5px;
}
/* ----------------------------Desktop---------------------------- */
@media (min-width: 1536px) {

}

/* ----------------------------Laptop---------------------------- */
@media (max-width: 1440px) {

  .highlight .cards-container {
    justify-content: center;
  }

  .highlight .cards {
    width: 256px;
  }

  .highlight .cards .image {
    width: 256px;
  }
}

/* ----------------------------Tablet---------------------------- */
@media (max-width: 1200px) {
  .pck-top .cards:nth-child(2) {
    display: none;
  }

  .pck-bottom .cards:nth-child(2) {
    display: none;
  }
}

/* ----------------------------Mobile---------------------------- */

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar ul {
    position: absolute;
    top: 60px;
    right: 10px;
    background: #11111139;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    display: none;
    border-radius: 20px;
  }

  .navbar ul.open {
    display: flex;
  }

  .highlight .cards-container {
    justify-content: center;
    flex-direction: column;
  }
  .highlight .cards {
    width: 384px;
  }

  .highlight .cards .image {
    width: 384px;
  }

  .pck .cards {
    width: 384px;
  }
}

@media (max-width: 400px) {
  .highlight .cards {
    width: 192px;
  }

  .highlight .cards .image {
    width: 192px;
  }

    .pck .cards {
    width: 192px;
  }
}